@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fcfcfc;
  }

  html {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    color: #282544;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-4xl md:leading-10 leading-6 tracking-wide;
  }

  h3 {
    @apply text-2xl md:text-3xl md:leading-10 leading-6 tracking-wide	;
  }

  h4 {
    @apply text-2xl leading-7;
  }

  h5 {
    @apply text-6xl md:text-9xl;
  }

  h6 {
    @apply text-5xl md:text-8xl;
  }

  p {
    @apply text-2xl leading-7;
  }

  .normal-section {
    @apply px-4 md:px-8 flex flex-col md:flex-row space-y-3;
  }
  @layer utilities {

  }
  
body {
  cursor: none; /* Hide the default cursor */
}
/* Default cursor style */
.cursor {
  position: absolute;
  pointer-events: none;
  background-color: rgb(243, 5, 89);  /* Change to your preferred color */
  width: 16px;  /* Normal size */
  height: 16px;
  border-radius: 50%;  /* Circular shape */
  z-index: 1000;
  transform: translate(-50%, -50%);  /* Center the cursor */
  transition: transform 0.2s ease-out;  /* Smooth transition for scaling */
}

/* Follower cursor style */
.cursor-follower {
  position: absolute;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.3);  /* Light transparent color */
  width: 32px;  /* Default size */
  height: 32px;
  border-radius: 50%;
  opacity: 0;  /* Initially invisible */
  z-index: 999;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out, transform 0.2s ease-out;
}

/* Enlarge the cursor and make the follower visible when hovering over the music icon */
.cursor.hovering {
  transform: scale(6) translate(-50%, -50%);  /* Enlarge the cursor on hover */
}

.cursor-follower.hovering {
  opacity: 1;
  transform: scale(2) translate(-50%, -50%); /* Slightly bigger follower */
}

/* Text inside the cursor */
.cursor-text {
  display: none;           /* Hide text initially */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;            /* Adjust color as needed */
  pointer-events: none;    /* Avoid interfering with cursor events */
  line-height: 4px;        /* Adjust line height to ensure proper spacing */
  text-align: center;      /* Align the text to the center horizontally */
}

.cursor.hovering .cursor-text {
  display: block;          /* Show text when hovering */
  font-size: 5px;         /* Adjust size of the text inside the cursor */
}

   /* Custom infinite scrolling animation */
   @keyframes scroll-left {
    0% {
      transform: translateX(0); /* Start from the initial position */
    }
    100% {
      transform: translateX(-100%); /* Scroll to the left */
    }
  }

  .animate-scroll {
    animation: scroll-left 15s linear infinite; 
  }

  
}